<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mdbda.diagrameditor.pattern">
      <GraphicalFeatures
            addFeatureClass="org.mdbda.cassandra.AddCassandraResourceFeature"
            createFeatureClass="org.mdbda.cassandra.CreateCassandraResourceFeature"
            group="Resources"
            typeId="CassandraResource">
      </GraphicalFeatures>
   </extension>
   <extension
         point="org.mdbda.codegen.plugin">
      <CodeGenTemplatePlugin
            CodeStyle="Hadoop"
            TemplateClass="org.mdbda.cassandra.codegen.CassandraResourceHadoop"
            typeId="CassandraResource">
      </CodeGenTemplatePlugin>
   </extension>
   <extension
         point="org.mdbda.diagrameditor.extendablehelper">
      <ExtendableHelper
            HelperExtentionClass="org.mdbda.cassandra.helper.PingCassandra">
      </ExtendableHelper>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="MDBDAEditor.PropertyContributor">
         <propertyCategory
               category="MDBDA"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="MDBDAEditor.PropertyContributor">
         <propertyTab
               category="MDBDA"
               id="mdbda.main.tab"
               label="Main">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="MDBDAEditor.PropertyContributor">
         <propertySection
               class="org.mdbda.cassandra.property.CassandraResourceSection"
               filter="org.mdbda.cassandra.property.CassandraResourceFilter"
               id="org.mdbda.cassandra.tab.CassandraResource"
               tab="mdbda.main.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
