<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mdbda.diagrameditor.pattern">
      <GraphicalFeatures
            addFeatureClass="org.mdbda.cassandra.AddCassandraResourceFeature"
            createFeatureClass="org.mdbda.cassandra.CreateCassandraResourceFeature"
            group="Resources"
            typeId="CassandraResource">
      </GraphicalFeatures>
   </extension>
   <extension
         point="org.mdbda.codegen.plugin">
      <CodeGenTemplatePlugin
            CodeStyle="Hadoop"
            TemplateClass="org.mdbda.cassandra.codegen.CassandraResourceHadoop"
            typeId="CassandraResource">
      </CodeGenTemplatePlugin>
   </extension>
   <extension
         point="org.mdbda.diagrameditor.extendablehelper">
      <ExtendableHelper
            HelperExtentionClass="org.mdbda.cassandra.helper.PingCassandra">
      </ExtendableHelper>
   </extension>

</plugin>
