org.hahnpro.mdbda.xcore/src-editor/
org.hahnpro.mdbda.xcore/src-test/
org.hahnpro.mdbda.xcore/src-edit/
org.hahnpro.mdbda.xcore/src-gen/
org.hahnpro.mdbda.xcore/icons/
*.aux
*.blg
*.lof
*.log
*.out
*.lot
*.lol
*.bbl
mdbda/MDBDA.synctex.gz
*.toc
mdbda/tmp/
org.mdbda.join.replicatedjoin/.settings/
org.mdbda.join.reducesidejoin/.settings/
org.mdbda.join.cartesianproduct/.settings/
org.mdbda.runtime/.settings/
org.mdbda.swtbottests/screenshots/
org.hahnpro.mdbda.xcore/.settings/
org.mdbda.filter.distinct/.settings/
org.mdbda.filter.topten/.settings/
org.mdbda.filter.simplematcher/.settings/
org.mdbda.Neo4jPlugin/.settings/
org.mdbda.cassandra/.settings/
org.mdbda.hdfs/.settings/
