<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="HDFSResource"
         point="org.mdbda.codegen.plugin">
      <ResourcePlugin
            CodeStyle="Hadoop"
            ResourceTemplateClass="org.mdbda.hdfs.codegen.HDFSResourceHadoop"
            typeId="HDFSResource">
      </ResourcePlugin>
      <ResourceCodeStylePlugin
            CodeStyle="Hadoop"
            ResourceTemplateClass="org.mdbda.hdfs.codegen.HDFSResourceHadoop">
      </ResourceCodeStylePlugin>
   </extension>
   <extension
         point="org.mdbda.diagrameditor.pattern">
      <GraphicalFeatures
            addFeatureClass="org.mdbda.hdfs.AddHDFSResourceFeature"
            createFeatureClass="org.mdbda.hdfs.CreateHDFSResourceFeature"
            group="Resources"
            typeId="HDFSResource">
      </GraphicalFeatures>
   </extension>

</plugin>
