<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.mdbda.diagrameditor.pattern" name="Pattern Plug-ins" schema="schema/org.mdbda.diagrameditor.pattern.exsd"/>
   <extension-point id="org.mdbda.diagrameditor.imageprovider" name="MDBDAPlugableImageProvider" schema="schema/org.mdbda.diagrameditor.imageprovider.exsd"/>




   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="MDBDA Diagram Editor Type"
            type="MDBDAEditor"
            id="org.mdbda.diagrameditor.MDBDADiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="MDBDA Diagram Editor Diagram Type Provider"
            class="org.mdbda.diagrameditor.diagram.MDBDADiagramTypeProvider"
            id="org.mdbda.diagrameditor.diagram.MDBDADiagramTypeProvider">
         <diagramType
               id="org.mdbda.diagrameditor.MDBDADiagram">
         </diagramType>
         <imageProvider
               id="org.mdbda.diagrameditor.diagram.MDBDAPlugableImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <category
	   id = "org.mdbda"
	   parentCategory="org.eclipse.ui.Examples"
	   name="MDBDA">
	</category>
 	<wizard
	   id = "org.mdbda.diagrameditor.wizard.NewMDBDADiagramWizard"
      	   name = "New MDBDA Diagram"
	   class="org.mdbda.diagrameditor.wizard.NewMDBDADiagramWizard"
	   category="org.mdbda">
    	   <description>New MDBDA Diagram</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
   </extension>


	<extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="mytutorial.PropertyContributor">
              <propertyCategory category="MDBDA">
              </propertyCategory>
          </propertyContributor>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="mytutorial.PropertyContributor">
              <propertyTab label="Main" category="MDBDA"
                  id="graphiti.main.tab">
              </propertyTab>
          </propertyTabs>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="mytutorial.PropertyContributor">
              <propertySection tab="MDBDA.main.tab"           
               class="org.eclipse.graphiti.examples.tutorial.property
                     .MyTutorialEClassSection"
               filter="org.mdbda.diagrameditor.property.ResourceFilter"
               id="graphiti.main.tab.emfclass">
              </propertySection>
          </propertySections>
      </extension>
      <extension
            point="org.eclipse.graphiti.ui.imageProviders">
         <imageProvider
               class="org.mdbda.diagrameditor.diagram.MDBDAPlugableImageProvider"
               id="org.mdbda.diagrameditor.diagram.MDBDAPlugableImageProvider">
         </imageProvider>
      </extension>
      <extension
            point="org.mdbda.diagrameditor.pattern">
         <GraphicalFeatures
               addFeatureClass="org.mdbda.diagrameditor.features.AddWorkflowFeature"
               createFeatureClass="org.mdbda.diagrameditor.features.CreateWorkflowFeature"
               group="other"
               typeId="workflow">
         </GraphicalFeatures>
      </extension>
      <extension
            point="org.mdbda.diagrameditor.pattern">
         <GraphicalFeatures
               addFeatureClass="org.mdbda.diagrameditor.features.resources.AddGenericResourceFeature"
               createFeatureClass="org.mdbda.diagrameditor.features.resources.CreateGenericResourceFeature"
               group="Resources"
               typeId="generic">
         </GraphicalFeatures>
      </extension>
</plugin>
