<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="MDBDA Diagram Editor Type"
            type="MDBDAEditor"
            id="org.mdbda.diagrameditor.MDBDADiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="MDBDA Diagram Editor Diagram Type Provider"
            class="org.mdbda.diagrameditor.diagram.MDBDADiagramTypeProvider"
            id="org.mdbda.diagrameditor.diagram.MDBDADiagramTypeProvider">
         <diagramType
               id="org.mdbda.diagrameditor.MDBDADiagram">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <category
	   id = "org.mdbda"
	   parentCategory="org.eclipse.ui.Examples"
	   name="MDBDA">
	</category>
 	<wizard
	   id = "org.mdbda.diagrameditor.wizard.NewMDBDADiagramWizard"
      	   name = "New MDBDA Diagram"
	   class="org.mdbda.diagrameditor.wizard.NewMDBDADiagramWizard"
	   category="org.mdbda">
    	   <description>New MDBDA Diagram</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
   </extension>

</plugin>
